body{
    font: 15px/1.4 Arial, Helevetical,sens-serif;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

/*Global*/

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.dark{
    border-radius: 15px;
    padding: 15px;
    background: #35424a;
    color: #ffcf7c;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dark h3{
    color: #ffffff;
}
.button_1{
    padding: 10px;
    border-radius: 10px;
    background: #ffcf7c;
}
.high{
    background: #dd5e0f;
}

/*header */
header{
    background: #078aef;
    color: #bec7ce;
    padding-top: 10px;
    min-height: 60px;
}

header a{
    color: azure;
    text-decoration: none;
}
header h3{
    float: right;
    margin-top: 5px;
}
header h3 a{
    color: #ffcf7c;
}
header  img{
    float: right;
    margin: 5px;
    width: 30px;
}

header h1 a{
    color: #ffcf7c;
}
header h1{
    font-size: 30px;
} 

/* navigation */
nav{
    background: #06469b;
    padding: 10px;
    font-size: 18px;
    font-weight: 800;
}

nav li{
    float: left;
    display: inline;
    padding: 0 65px 0 65px;
}
nav li:hover{
    background: #ffcf7c;
}

nav a{
    text-decoration: none;
    color: #00d8ff;
}
nav a:hover{
    color:#06469b; 
}



/*adinfo*/
#Adinfo{
    padding: 14px;
    background: #06469b;
    color: #00d8ff;
}
#Adinfo form{
    float: right;
}
#Adinfo h2{
    text-align: center;
    font-size: 30px;
}
#Adinfo input[type="email"], input[type="text"]{
    margin: 3px;
    padding: 6px;
    height: 12px;
    width: 250px;
}

#Acad_intro{
    min-height: 500px;
    background: url('../img/notebook-natural-laptop.jpeg') no-repeat center;
    background-size:100%;
    text-align: center;
    color: #ffffff;
    display: inherit;
    overflow: hidden;
}

#Acad_intro #heading{
    margin-top: 200px;
    background: rgba(53, 66, 74, 0.7);
    border-radius: 10px;
}
#Acad_intro h1{
    font-size: 50px;
    font-style: italic;
    color: #ffcf7c;
}

/* Article */
#backg{
    background: url('../img/campusBackground.jpg')
}

article#Acad_para1{
    margin-top: 30px;
    float: left;
    width: 65%;
}

article#Acad_para1 h1, h3{
    color: #06469b;;
}

/* Aside */
aside#sidebar{
    width: 30%;
    float: right;
    margin-top: 50px;
}

/*footer*/
footer{
    background: #06469b;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #078aef;
}

footer img{
    width: 30px;
}